
ProjectEscapeProto/.idea/

ProjectEscapeProto/.vs/

ProjectEscapeProto/Binaries/

ProjectEscapeProto/Intermediate/

ProjectEscapeProto/Saved/

ProjectEscapeProto/ProjectEscapeProto.sln

ProjectEscapeProto/Content/StarterContent/Architecture/Floor_400x400.uasset

ProjectEscapeProto/Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
